{% extends 'base.html.twig' %}

{% block body %}
<div class="jumbotron-img jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Réponses à vos questions</h1>
        <p class="lead">Et même des réponses aux questions que vous n'avez pas pensé à poser !</p>
    </div>
</div>
<div class="container">
    <div class="row mb-3">
        <div class="col">
            <button class="btn btn-question">Poser une question</button>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div style="box-shadow: 2px 3px 9px 4px rgba(0,0,0,0.04);">
                <div class="q-container p-4">
                    <div class="row">
                        <div class="col-2 text-center">
                            <img src="{{ asset('images/tisha.png') }}" width="100" height="100">
                            <div class="d-block mt-3 vote-arrows">
                                <a class="vote-up" href="#"><i class="far fa-arrow-alt-circle-up"></i></a>
                                <a class="vote-down" href="#"><i class="far fa-arrow-alt-circle-down"></i></a>
                            </div>
                        </div>
                        <div class="col">
                            <a class="q-title" href="{{ path('questions_show',{slug:'reversing-a-spell'}) }}"><h2>INVERSER UN SORT</h2></a>
                            <div class="q-display p-3">
                                <i class="fa fa-quote-left mr-3"></i>
                                <p class="d-inline">J'ai été transformé en chat, avez-vous des idées sur la façon de faire demi-tour ? Bien que je sois adorable, je n'aime pas vraiment la nourriture pour chat..</p>
                                <p class="pt-4"><strong>--Toom</strong></p>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="answer-link" href="#" style="color: #fff;">
                    <p class="q-display-response text-center p-3">
                        <i class="fa fa-magic magic-wand"></i> 6 réponses
                    </p>
                </a>
            </div>
        </div>

        <div class="col-12 mt-3">
            <div class="q-container p-4">
                <div class="row">
                    <div class="col-2 text-center">
                        <img src="{{ asset('images/magic-photo.png') }}" width="100" height="100">
                        <div class="d-block mt-3 vote-arrows">
                            <a class="vote-up" href="#"><i class="far fa-arrow-alt-circle-up"></i></a>
                            <a class="vote-down" href="#"><i class="far fa-arrow-alt-circle-down"></i></a>
                        </div>
                    </div>
                    <div class="col">
                        <a class="q-title" href="{{ path('questions_show',{slug:'pausing-a-spell'}) }}"><h2>Mettre un sort en pause</h2></a>
                        <div class="q-display p-3">
                            <i class="fa fa-quote-left mr-3"></i>
                            <p class="d-inline">J'ai maîtrisé la carte flottante, mais maintenant, comment puis-je la ramener au sol ?</p>
                            <p class="pt-4"><strong>--Jerry</strong></p>
                        </div>
                    </div>
                </div>
            </div>
            <a class="answer-link" href="{{ path('questions_show',{slug:'pausing-a-spell'}) }}" style="color: #fff;">
                <p class="q-display-response text-center p-3">
                    <i class="fa fa-magic magic-wand"></i> 15 réponses
                    </p>
                </p>
            </a>
        </div>
    </div>
</div>
{% endblock %}

